[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Genesi Hello
Exec=/usr/bin/genesi-hello
Icon=org.genesi.hello
StartupWMClass=org.genesi.hello
Comment=A tool providing access to documentation and support for new Genesi OS users.
Comment=A tool providing access to documentation and support for new Genesi OS users.
Comment[bg]=Инструмент, предоставящ достъп до документация и поддръжка за нови потребители на Genesi OS.
Comment[da]=En app med adgang til dokumentation og support for nye Genesi OS brugere.
Comment[cs]=nástroj poskytující přístup k dokumentaci a podpoře pro nové Genesi OS uživatele
Comment[sk]=Nástroj poskytujúci prístup k dokumentácii a podporu pre nových Genesi OS používateľov 
Comment[de]=Ein Tool für schnellen Zugriff auf Support und Dokumentation für neue Genesi OS-Nutzer.
Comment[es]=Una herramienta que provee acceso a la documentación y soporte para nuevos usuarios de Genesi OS.
Comment[et]=Tööriist, mis pakub uutele Genesi OS-i kasutajatele juurdepääsu dokumentatsioonile ja toele.
Comment[fr]=Outil d'accès à la documentation et au support des nouveaux utilisateurs de Genesi OS.
Comment[ja]=ドキュメンテーションやサポートにアクセスできる、新しい Genesi OS ユーザー向けのツール
Comment[ka]=ხელსაწყო, რომელიც Genesi OS-ის ახალ მომხმარებლებს დოკუმენტაციასთან და მხარდაჭერასთან წვდომას მიაწვდის.
Comment[nl]=Een manier voor nieuwe Genesi OS gebruikers om toegang tot documentatie en support te krijgen.
Comment[nb_NO]=Et verktøy som gir tilgang til dokumentasjon og støtte for nye Genesi OS-brukere.
Comment[pl]=Narzędzie ułatwiające dostęp do dokumentacji i pomocy przeznaczone dla nowych użytkowników Genesi OS.
Comment[pt_BR]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários do Genesi OS.
Comment[pt_PT]=Uma ferramenta que fornece acesso a documentação e suporte para novos utilizadores do Genesi OS.
Comment[ru]=Средство доступа к документации и поддержке для новых пользователей Genesi OS.
Comment[it]=Strumento per accedere alla documentazione e supporto per nuovi utenti Genesi OS.
Comment[tr]=Yeni Genesi OS kullanıcıları için dökümantasyon ve destek sağlayan bir araç.
Comment[zh_CN]=为 Genesi OS 新用户提供文档和支持的工具。
Comment[eu]=Genesi OS-en dokumentazioa eta laguntza eskuratzen laguntzen duen tresna erabiltzaile berrientzat.
Comment[hy]=Գործիք, որը տրամադրում է մուտք դեպի փաստաթղթեր և աջակցություն Genesi OS-ի նոր օգտատերերի համար։
